{% from "__autoindex__/macros.html" import entry,
                                           thead,
                                           breadcrumb
                                           with context -%}
{% extends "layout.html" %}
{% set title = '%s' % title if title else 'Dashboard' %}
    {% block custom_head_link -%}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('__autoindex__.static', filename='autoindex.css') }}">
    {% endblock custom_head_link %}

        {% block content %}
        <div class="col-sm-9
                    col-sm-offset-3
                    col-md-10
                    col-md-offset-2
                    main">
          {% block steps %}
          <h3 class="page-header">Dashboard</h3>

          <div class="row placeholders" style="background-color:#f4f4f4">
            <div class="col-xs-6 col-sm-3 product">
              <a href="/munger/upload">
                <img src="/static/images/document-arrow-up-icon.png"
                     height"80"
                     width="80"
                     class="img-responsive"
                     alt="Upload files">
              </a>
              <h4>Step 1</h4>
              <span class="text-muted">Upload files</span>
            </div>
            <div class="col-xs-6 col-sm-3 product">
              <img src="/static/images/settings-file-icon.png"
                   height"80"
                   width="80"
                   class="img-responsive"
                   alt="Configuration">
              <h4>Step 2</h4>
              <span class="text-muted">Configuration</span>
            </div>
            <div class="col-xs-6 col-sm-3 product">
              <img src="/static/images/munger.png"
                   height"80"
                   width="80"
                   class="img-responsive"
                   alt="Munge">
              <h4>Step 3</h4>
              <span class="text-muted">Munge</span>
            </div>
            <div class="col-xs-6 col-sm-3 product">
              <img src="/static/images/document-arrow-down-icon.png"
                   height"80"
                   width="80"
                   class="img-responsive"
                   alt="Download files">
              <h4>Step 4</h4>
              <span class="text-muted">Download files</span>
            </div>
          </div>
          {% endblock steps %}

          {% block pending_munge %}
          <h4 class="sub-header">Pending Munge</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              {{ thead() }}
              {% if not curdir.is_root() %}
                <tr>
                  <td class="breadcrumb" colspan="4">
                    <h1>{{ breadcrumb(curdir) }}</h1>
                  </td>
                </tr>
              {% endif %}
              </thead>
              <tbody>
              {% for ent in entries %}
                {{ entry(ent) }}
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endblock pending_munge %}
        </div>
        {% endblock content %}
